.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 50%
    left: -10%

  &-2
    animation: float2 4.5s ease-in-out infinite alternate
    position: absolute
    top: 20%
    right: 5%
  &-3
    animation: float3 4.5s ease-in-out infinite alternate
    position: absolute
    bottom: 15%
    right: 20%
  &-4
    animation: float4 4.5s ease-in-out infinite alternate
    position: absolute
    top: 45%
    right: -10%

@keyframes float1
  0%
    transform: translateY(30px)
  100%
    transform: translateY(0px)

@keyframes float2
  0%
    transform: translateY(30px)
  100%
    transform: translateY(0px)
@keyframes float3
  0%
    transform: translateY(30px)
  100%
    transform: translateY(0px)
@keyframes float4
  0%
    transform: translateY(30px)
  100%
    transform: translateY(0px)

.banner-principal__img 
  padding-bottom: 0 !important;
.banner-principal__row .banner-principal__img 
    padding-right: 0 !important;
    width: 30%;
    

.banner-principal p, .banner-principal h1, .banner-principal h2, .banner-principal h3, .banner-principal h4, .banner-principal h5, .banner-principal h6 
  color: $color-sistema-texto !important  

.titulo-principal__numero
    background-color: $color-secundario  !important
.tarjeta.color-secundario-cus 
    background-color: #AEE6E6;
.tarjeta.color-secundario-cus-2 
    background-color: #66C3CC;
.bg1
  background-color: #E5E2F0
  border-radius: 15px
.bg2
  background-color: $color-acento-contenido
.bg3
  background-color: #A398C8
  border-radius: 15px
.bg4
  background-color: $color-acento-contenido
  padding-top: 7px
  padding-bottom: 7px
  color: #FFF
  padding-left: 0.8rem!important
  padding-right: 0.2rem!important
  font-weight: bold
.bg5
  background-color: transparent
  padding-top: 7px
  padding-bottom: 7px
  padding-left: 0.3rem!important
  font-weight: bold
.bg6
  background-color: #fff
  border-radius: 20px
.bg7
  background-color: #AEE6E6
.bg8
  background-color: $color-secundario
.bg9
  background-color: #EFFAFA
.bg10
  background-color: #B8B0D5
.bg11
  background-color: #EFFAF4
.bg12
  background-color: #ECE9F4

.bgimg1
  background-image: url('../assets/curso/temas/tema3/img20.png');
  background-size: cover
  background-repeat: no-repeat
  background-position: center 
.bgimg2
  background-image: url('../assets/curso/temas/tema4/img3.png');
  background-size: cover
  background-repeat: no-repeat
  background-position: center 
.fullview
  background: #DDDBE5
  background-position: center
  background-size: cover
  margin-inline: -3.4rem

.ml-pl-cus-0
  margin-left: 0;
  padding-left: 0;
.mr-cus-1
  padding-right: 3rem;
.px-sm-0
    padding-left: 3rem!important
    padding-right: 3rem!important

.mr-cus
  margin-left: 1.3rem 

.title-card
  text-align: center
  padding-top: 7px
  padding-bottom: 7px
  color: #FFF
  font-weight: bold

.title-card-2
  text-align: center
  padding-top: 7px
  padding-bottom: 7px
  font-weight: bold

.modal-a__content
    width: auto;
.h-card
  height: 480px

.tabs-a__tab 
    background-color: $color-secundario;
.tabs-a.color-acento-contenido .tabs-a__tab
    background-color: #7D6EB2;
    color: #fff
.tabs-a.color-acento-contenido .tabs-a__tab__selected 
    background-color: $color-acento-botones
    color: #000
.tabs-a.color-acento-contenido .tabs-a__tab__selected:before 
    background-color: $color-acento-botones
.slyder-f__btn
    width: 50px;
    height: 50px;
    background-color: $color-acento-botones;
    border-radius: 50%;
    position: sticky;
    top: 44%;
.slyder-f__btn i 
    font-size: 2rem !important
.slyder-f__btn.pe-3
  margin-right: 1rem;
  padding-right: 0 !important;
.slyder-f__btn.ps-3
  margin-left: 1rem;
  padding-left: 0 !important;
.slyder-a__bullets__item--active 
    background-color: $color-acento-botones !important;
    border-color: $color-acento-botones  !important;
.slyder-a__bullets__item 
    background-color: #FFF5D0;
    border: 1px solid #FFF5D0;
    opacity: 1
.slyder-a__btn--sigt, .slyder-a__btn--atrs 
    background-color: $color-acento-botones;
    border: 1px solid $color-acento-botones;
    opacity: 1
.cajon.color-secundario 
    background-color: #BBE5E9;
.boton.color-acento-botones, .color-acento-botones.boton--sm 
  border-radius: 25px !important
.acordion__accion__btn--a 
    background-color: $color-acento-botones;
.lista-ol--cuadro__vineta 
    background-color: $color-secundario;
.tarjeta--azul
    background-color: #D3EEF1 !important
.bloque-texto-e.color-secundario 
    background-color: #DEDAEC;
.bloque-texto-e i 
    color: $color-secundario;
.w-title-card
  width: fit-content;
  padding-right: 1em
  padding-left: 0.5em
.color-circle
  color: #3C3FA7 !important
.pl-cus
  padding-left: 3.5rem;
.bloque-texto-g__img  
    width: 65%;
.bloque-texto-b__texto * 
    display: inline-block !important

.bloque-texto-b.color-secundario:before 
    background-color: #AEE6E6;

.bloque-texto-b:before 
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 17%;
    z-index: 0;
.bloque-texto-cus
    position: relative;
.bloque-texto-cus__texto 
    position: relative;
.bloque-texto-cus:before 
    background-color: #DFDDEC;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -21%;
    z-index: 0;

.w-80-cus
  width: 80%
.z-index-cus
  z-index: 9;
.lista-ul--color li > i:first-of-type 
      color: $color-secundario;


@media screen and (max-width: $bp-max-md)
  .mb-cus
    margin-bottom: 2em  !important
  .h-card
    height: auto
  .mr-cus
    margin-left: 0
  .mr-cus-1
    padding-right: 0rem;
  .bgimg1
    background-image: none
    background-color: #fff
  .w-80-cus
    width: 100%
  .bloque-texto-b:before 
    right: 0 !important
  .bloque-texto-cus:before 
    right: 0  !important
  .bloque-texto-g 
    padding-top: 20px !important;
 

@media screen and (max-width: $bp-max-sm)
  .mb-cus
    margin-bottom: 2em  !important
  .h-card
    height: auto
  .mr-cus
    margin-left: 0
  .slyder-a__btn--sigt, .slyder-a__btn--atrs 
    width: 35px !important
    height: 35px !important
  .slyder-f__btn
    width: 35px;
    height: 35px;
    top: 42%;

  .slyder-f__btn i 
    font-size: 1rem !important;
  .slyder-f__btn.pe-3
    margin-right: 10px;
  .slyder-f__btn.ps-3
    margin-left: 10px;
  .px-sm-0
    padding-left: 10px !important
    padding-right: 10px !important
  .pl-cus
    padding-left: 0;
  .mr-cus-1
    padding-right: 0rem;
  .bgimg1
    background-image: none
    background-color: #fff
  .w-80-cus
    width: 100%
  .bloque-texto-b:before 
    right: 0 !important
  .bloque-texto-cus:before 
    right: 0  !important
  .bloque-texto-g 
    padding-top: 20px !important;